{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block header %}
<h2 class="display-4">Change Your Password</h2>
{% endblock %}

{% block content %}
<div class="container-xl mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="card-body">
                    <form method="POST" class="mb-3">
                        {% include 'flash_messages.html' %}
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            <label for="current_password" class="form-label">
                                <i class="bi bi-key"></i> Current Password
                            </label>
                            {{ form.current_password(class="form-control", required=true) }}
                        </div>

                        <div class="mb-3">
                            <label for="new_password" class="form-label">
                                <i class="bi bi-key"></i> New Password
                            </label>
                            {{ form.new_password(class="form-control", required=true) }}
                        </div>

                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">
                                <i class="bi bi-key"></i> Confirm Password
                            </label>
                            {{ form.confirm_password(class="form-control", required=true) }}
                        </div>

                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-check"></i> Change Password
                        </button>
                    </form>
                </div>
                {% endblock %}
